<section class="article-container">

    <article class="article-body">
        <h1 class="article-title">
            {{title}}
        </h1>
        <h2 class="sub-title">
            {{subTitle}}
        </h2>
        <div class="article-info">
            <p>{{author}}</p>
            <time>{{datePublished}}</time>
        </div>
        {{{content}}}

        <a href="{{url}}" target="_blank">Go to the original article</a>
    </article>
    <form action="/comment/{{_id}}" method="POST" class="comment-form">
        <textarea placeholder="What are your thoughts?" cols="30" rows="10" name='newComment' class="comment-input" id="newComment" required/>
       </textarea> <button type="submit" class="ui button">
            Post Comment
        </button>
    </form>
    {{> comments}}
</section>