<section class="article-container">

    <article class="article-body">
        <h1 class="title">
            {{title}}
        </h1>
        <h2 class="sub-title">
            {{subTitle}}
        </h2>
        <div class="article-info">
            <p>{{author}}</p>
            <time>{{datePublished}}</time>
        </div>
        <div class="split"></div>
        <div class="article">
            {{{content}}}
        </div>
    <br>
        <a href="{{url}}" target="_blank" class="url"> >> Go to the original article</a>
    </article>
    
    <form action="/comment/{{_id}}" method="POST" class="comment-form">
        <textarea placeholder="What are your thoughts?" name='newComment' rows="7" class="comment-input" id="newComment" required/></textarea> <button type="submit" class="ui button post-btn">
            Post Comment
        </button>
    </form>
    {{> comments}}
</section>